body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
}
#u4168 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
}
#u4169 {
  position:absolute;
  left:2px;
  top:468px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:665px;
}
#u4170 {
  position:absolute;
  left:0px;
  top:287px;
  width:280px;
  height:665px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:324px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4172 {
  position:absolute;
  left:0px;
  top:952px;
  width:300px;
  height:170px;
}
#u4173 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:56px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
  text-align:center;
}
#u4174 {
  position:absolute;
  left:24px;
  top:284px;
  width:239px;
  height:56px;
  color:#20A0FF;
  text-align:center;
}
#u4175 {
  position:absolute;
  left:0px;
  top:20px;
  width:239px;
  word-wrap:break-word;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2px;
}
#u4177 {
  position:absolute;
  left:339px;
  top:113px;
  width:1454px;
  height:1px;
}
#u4178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u4179 {
  position:absolute;
  left:996px;
  top:71px;
  width:141px;
  height:32px;
  font-size:28px;
  color:#666666;
}
#u4180 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4181 {
  position:absolute;
  left:899px;
  top:150px;
  width:73px;
  height:32px;
  font-size:16px;
  text-align:center;
}
#u4182 {
  position:absolute;
  left:0px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u4183 {
  position:absolute;
  left:972px;
  top:150px;
  width:300px;
  height:32px;
}
#u4183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4184 {
  position:absolute;
  left:925px;
  top:223px;
  width:140px;
  height:40px;
}
#u4185 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4186 {
  position:absolute;
  left:1108px;
  top:223px;
  width:140px;
  height:40px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
