body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
}
#u3709 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3710 {
  position:absolute;
  left:2px;
  top:468px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:665px;
}
#u3711 {
  position:absolute;
  left:0px;
  top:287px;
  width:280px;
  height:665px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3712 {
  position:absolute;
  left:2px;
  top:324px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3713 {
  position:absolute;
  left:0px;
  top:952px;
  width:300px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3714 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:56px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#20A0FF;
  text-align:center;
}
#u3715 {
  position:absolute;
  left:24px;
  top:284px;
  width:239px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#20A0FF;
  text-align:center;
}
#u3716 {
  position:absolute;
  left:0px;
  top:18px;
  width:239px;
  word-wrap:break-word;
}
#u3717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2px;
}
#u3718 {
  position:absolute;
  left:339px;
  top:113px;
  width:1454px;
  height:1px;
}
#u3719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u3720 {
  position:absolute;
  left:996px;
  top:71px;
  width:141px;
  height:32px;
  font-size:28px;
  color:#666666;
}
#u3721 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u3722 {
  position:absolute;
  left:841px;
  top:150px;
  width:110px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u3723 {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u3724 {
  position:absolute;
  left:961px;
  top:150px;
  width:300px;
  height:32px;
}
#u3724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u3725 {
  position:absolute;
  left:841px;
  top:206px;
  width:110px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u3726 {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u3727 {
  position:absolute;
  left:871px;
  top:259px;
  width:485px;
  height:357px;
}
#u3728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3728 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3730 {
  position:absolute;
  left:60px;
  top:0px;
  width:160px;
  height:32px;
}
#u3731 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3732 {
  position:absolute;
  left:220px;
  top:0px;
  width:160px;
  height:32px;
}
#u3733 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3734 {
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:32px;
}
#u3735 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3736 {
  position:absolute;
  left:0px;
  top:32px;
  width:60px;
  height:32px;
}
#u3737 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3738 {
  position:absolute;
  left:60px;
  top:32px;
  width:160px;
  height:32px;
}
#u3739 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3740 {
  position:absolute;
  left:220px;
  top:32px;
  width:160px;
  height:32px;
}
#u3741 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3742 {
  position:absolute;
  left:380px;
  top:32px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3743 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3744 {
  position:absolute;
  left:0px;
  top:64px;
  width:60px;
  height:32px;
}
#u3745 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3746 {
  position:absolute;
  left:60px;
  top:64px;
  width:160px;
  height:32px;
}
#u3747 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3748 {
  position:absolute;
  left:220px;
  top:64px;
  width:160px;
  height:32px;
}
#u3749 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3750 {
  position:absolute;
  left:380px;
  top:64px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3751 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3752 {
  position:absolute;
  left:0px;
  top:96px;
  width:60px;
  height:32px;
}
#u3753 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3754 {
  position:absolute;
  left:60px;
  top:96px;
  width:160px;
  height:32px;
}
#u3755 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3756 {
  position:absolute;
  left:220px;
  top:96px;
  width:160px;
  height:32px;
}
#u3757 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3758 {
  position:absolute;
  left:380px;
  top:96px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3759 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3760 {
  position:absolute;
  left:0px;
  top:128px;
  width:60px;
  height:32px;
}
#u3761 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3762 {
  position:absolute;
  left:60px;
  top:128px;
  width:160px;
  height:32px;
}
#u3763 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3764 {
  position:absolute;
  left:220px;
  top:128px;
  width:160px;
  height:32px;
}
#u3765 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3766 {
  position:absolute;
  left:380px;
  top:128px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3767 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3768 {
  position:absolute;
  left:0px;
  top:160px;
  width:60px;
  height:32px;
}
#u3769 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3770 {
  position:absolute;
  left:60px;
  top:160px;
  width:160px;
  height:32px;
}
#u3771 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3772 {
  position:absolute;
  left:220px;
  top:160px;
  width:160px;
  height:32px;
}
#u3773 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3774 {
  position:absolute;
  left:380px;
  top:160px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3775 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3776 {
  position:absolute;
  left:0px;
  top:192px;
  width:60px;
  height:32px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3778 {
  position:absolute;
  left:60px;
  top:192px;
  width:160px;
  height:32px;
}
#u3779 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3780 {
  position:absolute;
  left:220px;
  top:192px;
  width:160px;
  height:32px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3782 {
  position:absolute;
  left:380px;
  top:192px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3783 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3784 {
  position:absolute;
  left:0px;
  top:224px;
  width:60px;
  height:32px;
}
#u3785 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3786 {
  position:absolute;
  left:60px;
  top:224px;
  width:160px;
  height:32px;
}
#u3787 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3788 {
  position:absolute;
  left:220px;
  top:224px;
  width:160px;
  height:32px;
}
#u3789 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3790 {
  position:absolute;
  left:380px;
  top:224px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3791 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3792 {
  position:absolute;
  left:0px;
  top:256px;
  width:60px;
  height:32px;
}
#u3793 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3794 {
  position:absolute;
  left:60px;
  top:256px;
  width:160px;
  height:32px;
}
#u3795 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3796 {
  position:absolute;
  left:220px;
  top:256px;
  width:160px;
  height:32px;
}
#u3797 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3798 {
  position:absolute;
  left:380px;
  top:256px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3799 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3800 {
  position:absolute;
  left:0px;
  top:288px;
  width:60px;
  height:32px;
}
#u3801 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3802 {
  position:absolute;
  left:60px;
  top:288px;
  width:160px;
  height:32px;
}
#u3803 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3804 {
  position:absolute;
  left:220px;
  top:288px;
  width:160px;
  height:32px;
}
#u3805 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3806 {
  position:absolute;
  left:380px;
  top:288px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3807 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3808 {
  position:absolute;
  left:0px;
  top:320px;
  width:60px;
  height:32px;
}
#u3809 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3810 {
  position:absolute;
  left:60px;
  top:320px;
  width:160px;
  height:32px;
}
#u3811 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3812 {
  position:absolute;
  left:220px;
  top:320px;
  width:160px;
  height:32px;
}
#u3813 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3814 {
  position:absolute;
  left:380px;
  top:320px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3815 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  position:absolute;
  left:979px;
  top:621px;
  width:265px;
  height:17px;
}
#u3817 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  position:absolute;
  left:938px;
  top:663px;
  width:140px;
  height:40px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3820 {
  position:absolute;
  left:1121px;
  top:663px;
  width:140px;
  height:40px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:2px;
}
#u3822 {
  position:absolute;
  left:1332px;
  top:339px;
  width:532px;
  height:1px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:64px;
}
#u3824 {
  position:absolute;
  left:1870px;
  top:337px;
  width:319px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u3825 {
  position:absolute;
  left:0px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:2px;
}
#u3826 {
  position:absolute;
  left:1015px;
  top:705px;
  width:849px;
  height:1px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:65px;
}
#u3828 {
  position:absolute;
  left:1870px;
  top:703px;
  width:319px;
  height:65px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u3829 {
  position:absolute;
  left:0px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3830 {
  position:absolute;
  left:961px;
  top:202px;
  width:140px;
  height:40px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:2px;
}
#u3832 {
  position:absolute;
  left:1101px;
  top:221px;
  width:763px;
  height:1px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:64px;
}
#u3834 {
  position:absolute;
  left:1870px;
  top:219px;
  width:319px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u3835 {
  position:absolute;
  left:0px;
  top:22px;
  width:319px;
  word-wrap:break-word;
}
