body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4242 {
  position:absolute;
  left:2px;
  top:468px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:665px;
}
#u4243 {
  position:absolute;
  left:0px;
  top:287px;
  width:280px;
  height:665px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4244 {
  position:absolute;
  left:2px;
  top:324px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4245 {
  position:absolute;
  left:0px;
  top:952px;
  width:300px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4246 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:56px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#20A0FF;
  text-align:center;
}
#u4247 {
  position:absolute;
  left:24px;
  top:284px;
  width:239px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#20A0FF;
  text-align:center;
}
#u4248 {
  position:absolute;
  left:0px;
  top:18px;
  width:239px;
  word-wrap:break-word;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2px;
}
#u4250 {
  position:absolute;
  left:339px;
  top:113px;
  width:1454px;
  height:1px;
}
#u4251 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u4252 {
  position:absolute;
  left:996px;
  top:71px;
  width:141px;
  height:32px;
  font-size:28px;
  color:#666666;
}
#u4253 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u4255 {
  position:absolute;
  left:841px;
  top:150px;
  width:110px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u4256 {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4257 {
  position:absolute;
  left:961px;
  top:150px;
  width:300px;
  height:32px;
}
#u4257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u4258 {
  position:absolute;
  left:841px;
  top:206px;
  width:120px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u4259 {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  word-wrap:break-word;
}
#u4260 {
  position:absolute;
  left:871px;
  top:259px;
  width:485px;
  height:357px;
}
#u4261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4261 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4262 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4263 {
  position:absolute;
  left:60px;
  top:0px;
  width:160px;
  height:32px;
}
#u4264 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4265 {
  position:absolute;
  left:220px;
  top:0px;
  width:160px;
  height:32px;
}
#u4266 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4267 {
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:32px;
}
#u4268 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4269 {
  position:absolute;
  left:0px;
  top:32px;
  width:60px;
  height:32px;
}
#u4270 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4271 {
  position:absolute;
  left:60px;
  top:32px;
  width:160px;
  height:32px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4273 {
  position:absolute;
  left:220px;
  top:32px;
  width:160px;
  height:32px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4275 {
  position:absolute;
  left:380px;
  top:32px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4276 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4277 {
  position:absolute;
  left:0px;
  top:64px;
  width:60px;
  height:32px;
}
#u4278 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4279 {
  position:absolute;
  left:60px;
  top:64px;
  width:160px;
  height:32px;
}
#u4280 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4281 {
  position:absolute;
  left:220px;
  top:64px;
  width:160px;
  height:32px;
}
#u4282 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4283 {
  position:absolute;
  left:380px;
  top:64px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4284 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4285 {
  position:absolute;
  left:0px;
  top:96px;
  width:60px;
  height:32px;
}
#u4286 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4287 {
  position:absolute;
  left:60px;
  top:96px;
  width:160px;
  height:32px;
}
#u4288 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4289 {
  position:absolute;
  left:220px;
  top:96px;
  width:160px;
  height:32px;
}
#u4290 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4291 {
  position:absolute;
  left:380px;
  top:96px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4292 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4293 {
  position:absolute;
  left:0px;
  top:128px;
  width:60px;
  height:32px;
}
#u4294 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4295 {
  position:absolute;
  left:60px;
  top:128px;
  width:160px;
  height:32px;
}
#u4296 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4297 {
  position:absolute;
  left:220px;
  top:128px;
  width:160px;
  height:32px;
}
#u4298 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4299 {
  position:absolute;
  left:380px;
  top:128px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4300 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4301 {
  position:absolute;
  left:0px;
  top:160px;
  width:60px;
  height:32px;
}
#u4302 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4303 {
  position:absolute;
  left:60px;
  top:160px;
  width:160px;
  height:32px;
}
#u4304 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4305 {
  position:absolute;
  left:220px;
  top:160px;
  width:160px;
  height:32px;
}
#u4306 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4307 {
  position:absolute;
  left:380px;
  top:160px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4308 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4309 {
  position:absolute;
  left:0px;
  top:192px;
  width:60px;
  height:32px;
}
#u4310 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4311 {
  position:absolute;
  left:60px;
  top:192px;
  width:160px;
  height:32px;
}
#u4312 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4313 {
  position:absolute;
  left:220px;
  top:192px;
  width:160px;
  height:32px;
}
#u4314 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4315 {
  position:absolute;
  left:380px;
  top:192px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4316 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4317 {
  position:absolute;
  left:0px;
  top:224px;
  width:60px;
  height:32px;
}
#u4318 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4319 {
  position:absolute;
  left:60px;
  top:224px;
  width:160px;
  height:32px;
}
#u4320 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4321 {
  position:absolute;
  left:220px;
  top:224px;
  width:160px;
  height:32px;
}
#u4322 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4323 {
  position:absolute;
  left:380px;
  top:224px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4324 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4325 {
  position:absolute;
  left:0px;
  top:256px;
  width:60px;
  height:32px;
}
#u4326 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4327 {
  position:absolute;
  left:60px;
  top:256px;
  width:160px;
  height:32px;
}
#u4328 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4329 {
  position:absolute;
  left:220px;
  top:256px;
  width:160px;
  height:32px;
}
#u4330 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4331 {
  position:absolute;
  left:380px;
  top:256px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4332 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4333 {
  position:absolute;
  left:0px;
  top:288px;
  width:60px;
  height:32px;
}
#u4334 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4335 {
  position:absolute;
  left:60px;
  top:288px;
  width:160px;
  height:32px;
}
#u4336 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4337 {
  position:absolute;
  left:220px;
  top:288px;
  width:160px;
  height:32px;
}
#u4338 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4339 {
  position:absolute;
  left:380px;
  top:288px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4340 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u4341 {
  position:absolute;
  left:0px;
  top:320px;
  width:60px;
  height:32px;
}
#u4342 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u4343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4343 {
  position:absolute;
  left:60px;
  top:320px;
  width:160px;
  height:32px;
}
#u4344 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u4345 {
  position:absolute;
  left:220px;
  top:320px;
  width:160px;
  height:32px;
}
#u4346 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u4347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4347 {
  position:absolute;
  left:380px;
  top:320px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u4348 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4349 {
  position:absolute;
  left:979px;
  top:621px;
  width:265px;
  height:17px;
}
#u4350 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u4351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4351 {
  position:absolute;
  left:938px;
  top:663px;
  width:140px;
  height:40px;
}
#u4352 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4353 {
  position:absolute;
  left:1121px;
  top:663px;
  width:140px;
  height:40px;
}
#u4354 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:2px;
}
#u4355 {
  position:absolute;
  left:1332px;
  top:339px;
  width:532px;
  height:1px;
}
#u4356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:64px;
}
#u4357 {
  position:absolute;
  left:1870px;
  top:337px;
  width:319px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u4358 {
  position:absolute;
  left:0px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u4359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:2px;
}
#u4359 {
  position:absolute;
  left:1015px;
  top:705px;
  width:849px;
  height:1px;
}
#u4360 {
  position:absolute;
  left:2px;
  top:-8px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:65px;
}
#u4361 {
  position:absolute;
  left:1870px;
  top:703px;
  width:319px;
  height:65px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u4362 {
  position:absolute;
  left:0px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u4363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:2px;
}
#u4363 {
  position:absolute;
  left:1101px;
  top:221px;
  width:763px;
  height:1px;
}
#u4364 {
  position:absolute;
  left:2px;
  top:-8px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:64px;
}
#u4365 {
  position:absolute;
  left:1870px;
  top:219px;
  width:387px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u4366 {
  position:absolute;
  left:0px;
  top:14px;
  width:387px;
  word-wrap:break-word;
}
#u4367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4367 {
  position:absolute;
  left:961px;
  top:202px;
  width:140px;
  height:40px;
}
#u4368 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
