body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
}
#u3016 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:951px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3017 {
  position:absolute;
  left:2px;
  top:468px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:665px;
}
#u3018 {
  position:absolute;
  left:0px;
  top:287px;
  width:280px;
  height:665px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3019 {
  position:absolute;
  left:2px;
  top:324px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3020 {
  position:absolute;
  left:0px;
  top:952px;
  width:300px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3021 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:56px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#20A0FF;
  text-align:center;
}
#u3022 {
  position:absolute;
  left:24px;
  top:284px;
  width:239px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#20A0FF;
  text-align:center;
}
#u3023 {
  position:absolute;
  left:0px;
  top:18px;
  width:239px;
  word-wrap:break-word;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2px;
}
#u3025 {
  position:absolute;
  left:339px;
  top:113px;
  width:1454px;
  height:1px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u3027 {
  position:absolute;
  left:996px;
  top:71px;
  width:141px;
  height:32px;
  font-size:28px;
  color:#666666;
}
#u3028 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u3030 {
  position:absolute;
  left:841px;
  top:150px;
  width:110px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u3031 {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u3032 {
  position:absolute;
  left:961px;
  top:150px;
  width:300px;
  height:32px;
}
#u3032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u3033 {
  position:absolute;
  left:841px;
  top:206px;
  width:120px;
  height:32px;
  font-size:18px;
  text-align:center;
}
#u3034 {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  word-wrap:break-word;
}
#u3035 {
  position:absolute;
  left:871px;
  top:259px;
  width:485px;
  height:357px;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3036 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3038 {
  position:absolute;
  left:60px;
  top:0px;
  width:160px;
  height:32px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3040 {
  position:absolute;
  left:220px;
  top:0px;
  width:160px;
  height:32px;
}
#u3041 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3042 {
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:32px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3044 {
  position:absolute;
  left:0px;
  top:32px;
  width:60px;
  height:32px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3046 {
  position:absolute;
  left:60px;
  top:32px;
  width:160px;
  height:32px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3048 {
  position:absolute;
  left:220px;
  top:32px;
  width:160px;
  height:32px;
}
#u3049 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3050 {
  position:absolute;
  left:380px;
  top:32px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3051 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3052 {
  position:absolute;
  left:0px;
  top:64px;
  width:60px;
  height:32px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3054 {
  position:absolute;
  left:60px;
  top:64px;
  width:160px;
  height:32px;
}
#u3055 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3056 {
  position:absolute;
  left:220px;
  top:64px;
  width:160px;
  height:32px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3058 {
  position:absolute;
  left:380px;
  top:64px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3059 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3060 {
  position:absolute;
  left:0px;
  top:96px;
  width:60px;
  height:32px;
}
#u3061 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3062 {
  position:absolute;
  left:60px;
  top:96px;
  width:160px;
  height:32px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3064 {
  position:absolute;
  left:220px;
  top:96px;
  width:160px;
  height:32px;
}
#u3065 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3066 {
  position:absolute;
  left:380px;
  top:96px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3067 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3068 {
  position:absolute;
  left:0px;
  top:128px;
  width:60px;
  height:32px;
}
#u3069 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3070 {
  position:absolute;
  left:60px;
  top:128px;
  width:160px;
  height:32px;
}
#u3071 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3072 {
  position:absolute;
  left:220px;
  top:128px;
  width:160px;
  height:32px;
}
#u3073 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3074 {
  position:absolute;
  left:380px;
  top:128px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3075 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3076 {
  position:absolute;
  left:0px;
  top:160px;
  width:60px;
  height:32px;
}
#u3077 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3078 {
  position:absolute;
  left:60px;
  top:160px;
  width:160px;
  height:32px;
}
#u3079 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3080 {
  position:absolute;
  left:220px;
  top:160px;
  width:160px;
  height:32px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3082 {
  position:absolute;
  left:380px;
  top:160px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3083 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3084 {
  position:absolute;
  left:0px;
  top:192px;
  width:60px;
  height:32px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3086 {
  position:absolute;
  left:60px;
  top:192px;
  width:160px;
  height:32px;
}
#u3087 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3088 {
  position:absolute;
  left:220px;
  top:192px;
  width:160px;
  height:32px;
}
#u3089 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3090 {
  position:absolute;
  left:380px;
  top:192px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3091 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3092 {
  position:absolute;
  left:0px;
  top:224px;
  width:60px;
  height:32px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3094 {
  position:absolute;
  left:60px;
  top:224px;
  width:160px;
  height:32px;
}
#u3095 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3096 {
  position:absolute;
  left:220px;
  top:224px;
  width:160px;
  height:32px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3098 {
  position:absolute;
  left:380px;
  top:224px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3099 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3100 {
  position:absolute;
  left:0px;
  top:256px;
  width:60px;
  height:32px;
}
#u3101 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3102 {
  position:absolute;
  left:60px;
  top:256px;
  width:160px;
  height:32px;
}
#u3103 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3104 {
  position:absolute;
  left:220px;
  top:256px;
  width:160px;
  height:32px;
}
#u3105 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3106 {
  position:absolute;
  left:380px;
  top:256px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3107 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3108 {
  position:absolute;
  left:0px;
  top:288px;
  width:60px;
  height:32px;
}
#u3109 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3110 {
  position:absolute;
  left:60px;
  top:288px;
  width:160px;
  height:32px;
}
#u3111 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3112 {
  position:absolute;
  left:220px;
  top:288px;
  width:160px;
  height:32px;
}
#u3113 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3114 {
  position:absolute;
  left:380px;
  top:288px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3115 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u3116 {
  position:absolute;
  left:0px;
  top:320px;
  width:60px;
  height:32px;
}
#u3117 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u3118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3118 {
  position:absolute;
  left:60px;
  top:320px;
  width:160px;
  height:32px;
}
#u3119 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u3120 {
  position:absolute;
  left:220px;
  top:320px;
  width:160px;
  height:32px;
}
#u3121 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3122 {
  position:absolute;
  left:380px;
  top:320px;
  width:100px;
  height:32px;
  color:#20A0FF;
}
#u3123 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3124 {
  position:absolute;
  left:979px;
  top:621px;
  width:265px;
  height:17px;
}
#u3125 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u3126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3126 {
  position:absolute;
  left:938px;
  top:663px;
  width:140px;
  height:40px;
}
#u3127 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3128 {
  position:absolute;
  left:1121px;
  top:663px;
  width:140px;
  height:40px;
}
#u3129 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:2px;
}
#u3130 {
  position:absolute;
  left:1332px;
  top:339px;
  width:532px;
  height:1px;
}
#u3131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:64px;
}
#u3132 {
  position:absolute;
  left:1870px;
  top:337px;
  width:319px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u3133 {
  position:absolute;
  left:0px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u3134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:2px;
}
#u3134 {
  position:absolute;
  left:1015px;
  top:705px;
  width:849px;
  height:1px;
}
#u3135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:65px;
}
#u3136 {
  position:absolute;
  left:1870px;
  top:703px;
  width:319px;
  height:65px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u3137 {
  position:absolute;
  left:0px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u3138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:2px;
}
#u3138 {
  position:absolute;
  left:1101px;
  top:221px;
  width:763px;
  height:1px;
}
#u3139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:64px;
}
#u3140 {
  position:absolute;
  left:1870px;
  top:219px;
  width:387px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u3141 {
  position:absolute;
  left:0px;
  top:14px;
  width:387px;
  word-wrap:break-word;
}
#u3142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3142 {
  position:absolute;
  left:961px;
  top:202px;
  width:140px;
  height:40px;
}
#u3143 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
