body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:944px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:944px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:464px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:314px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:248px;
  width:303px;
  height:314px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:149px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BFCBD9;
}
#u1955 {
  position:absolute;
  left:17px;
  top:261px;
  width:157px;
  height:37px;
  font-size:16px;
  color:#BFCBD9;
}
#u1956 {
  position:absolute;
  left:0px;
  top:9px;
  width:157px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#20A0FF;
}
#u1957 {
  position:absolute;
  left:17px;
  top:313px;
  width:157px;
  height:37px;
  font-size:16px;
  color:#20A0FF;
}
#u1958 {
  position:absolute;
  left:0px;
  top:9px;
  width:157px;
  word-wrap:break-word;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2px;
}
#u1960 {
  position:absolute;
  left:339px;
  top:113px;
  width:1454px;
  height:1px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1962 {
  position:absolute;
  left:996px;
  top:71px;
  width:169px;
  height:32px;
  font-size:28px;
  color:#666666;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1966 {
  position:absolute;
  left:333px;
  top:134px;
  width:65px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1967 {
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1968 {
  position:absolute;
  left:398px;
  top:134px;
  width:139px;
  height:25px;
}
#u1968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1970 {
  position:absolute;
  left:537px;
  top:136px;
  width:96px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1971 {
  position:absolute;
  left:0px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:633px;
  top:136px;
  width:208px;
  height:25px;
}
#u1972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1973 {
  position:absolute;
  left:633px;
  top:168px;
  width:442px;
  height:241px;
  overflow:hidden;
}
#u1973_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:241px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1973_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:242px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:242px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:113px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:863px;
  top:133px;
  width:92px;
  height:32px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  position:absolute;
  left:978px;
  top:133px;
  width:123px;
  height:32px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1981 {
  position:absolute;
  left:339px;
  top:181px;
  width:1001px;
  height:401px;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1984 {
  position:absolute;
  left:73px;
  top:0px;
  width:180px;
  height:36px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1986 {
  position:absolute;
  left:253px;
  top:0px;
  width:180px;
  height:36px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u1988 {
  position:absolute;
  left:433px;
  top:0px;
  width:183px;
  height:36px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u1990 {
  position:absolute;
  left:616px;
  top:0px;
  width:140px;
  height:36px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u1992 {
  position:absolute;
  left:756px;
  top:0px;
  width:240px;
  height:36px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:36px;
  width:73px;
  height:36px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1996 {
  position:absolute;
  left:73px;
  top:36px;
  width:180px;
  height:36px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1998 {
  position:absolute;
  left:253px;
  top:36px;
  width:180px;
  height:36px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2000 {
  position:absolute;
  left:433px;
  top:36px;
  width:183px;
  height:36px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2002 {
  position:absolute;
  left:616px;
  top:36px;
  width:140px;
  height:36px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2004 {
  position:absolute;
  left:756px;
  top:36px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2005 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:72px;
  width:73px;
  height:36px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2008 {
  position:absolute;
  left:73px;
  top:72px;
  width:180px;
  height:36px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2010 {
  position:absolute;
  left:253px;
  top:72px;
  width:180px;
  height:36px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2012 {
  position:absolute;
  left:433px;
  top:72px;
  width:183px;
  height:36px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2014 {
  position:absolute;
  left:616px;
  top:72px;
  width:140px;
  height:36px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2016 {
  position:absolute;
  left:756px;
  top:72px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2017 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:108px;
  width:73px;
  height:36px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2020 {
  position:absolute;
  left:73px;
  top:108px;
  width:180px;
  height:36px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2022 {
  position:absolute;
  left:253px;
  top:108px;
  width:180px;
  height:36px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2024 {
  position:absolute;
  left:433px;
  top:108px;
  width:183px;
  height:36px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2026 {
  position:absolute;
  left:616px;
  top:108px;
  width:140px;
  height:36px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2028 {
  position:absolute;
  left:756px;
  top:108px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2029 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:144px;
  width:73px;
  height:36px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2032 {
  position:absolute;
  left:73px;
  top:144px;
  width:180px;
  height:36px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2034 {
  position:absolute;
  left:253px;
  top:144px;
  width:180px;
  height:36px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2036 {
  position:absolute;
  left:433px;
  top:144px;
  width:183px;
  height:36px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2038 {
  position:absolute;
  left:616px;
  top:144px;
  width:140px;
  height:36px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2040 {
  position:absolute;
  left:756px;
  top:144px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2042 {
  position:absolute;
  left:0px;
  top:180px;
  width:73px;
  height:36px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2044 {
  position:absolute;
  left:73px;
  top:180px;
  width:180px;
  height:36px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2046 {
  position:absolute;
  left:253px;
  top:180px;
  width:180px;
  height:36px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2048 {
  position:absolute;
  left:433px;
  top:180px;
  width:183px;
  height:36px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2050 {
  position:absolute;
  left:616px;
  top:180px;
  width:140px;
  height:36px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2052 {
  position:absolute;
  left:756px;
  top:180px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2053 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:216px;
  width:73px;
  height:36px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2056 {
  position:absolute;
  left:73px;
  top:216px;
  width:180px;
  height:36px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2058 {
  position:absolute;
  left:253px;
  top:216px;
  width:180px;
  height:36px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2060 {
  position:absolute;
  left:433px;
  top:216px;
  width:183px;
  height:36px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2062 {
  position:absolute;
  left:616px;
  top:216px;
  width:140px;
  height:36px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2064 {
  position:absolute;
  left:756px;
  top:216px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2065 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:252px;
  width:73px;
  height:36px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2068 {
  position:absolute;
  left:73px;
  top:252px;
  width:180px;
  height:36px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2070 {
  position:absolute;
  left:253px;
  top:252px;
  width:180px;
  height:36px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2072 {
  position:absolute;
  left:433px;
  top:252px;
  width:183px;
  height:36px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2074 {
  position:absolute;
  left:616px;
  top:252px;
  width:140px;
  height:36px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2076 {
  position:absolute;
  left:756px;
  top:252px;
  width:240px;
  height:36px;
  color:#20A0FF;
}
#u2077 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:288px;
  width:73px;
  height:36px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2080 {
  position:absolute;
  left:73px;
  top:288px;
  width:180px;
  height:36px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2082 {
  position:absolute;
  left:253px;
  top:288px;
  width:180px;
  height:36px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2084 {
  position:absolute;
  left:433px;
  top:288px;
  width:183px;
  height:36px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2086 {
  position:absolute;
  left:616px;
  top:288px;
  width:140px;
  height:36px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2088 {
  position:absolute;
  left:756px;
  top:288px;
  width:240px;
  height:36px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:324px;
  width:73px;
  height:36px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2092 {
  position:absolute;
  left:73px;
  top:324px;
  width:180px;
  height:36px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2094 {
  position:absolute;
  left:253px;
  top:324px;
  width:180px;
  height:36px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2096 {
  position:absolute;
  left:433px;
  top:324px;
  width:183px;
  height:36px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2098 {
  position:absolute;
  left:616px;
  top:324px;
  width:140px;
  height:36px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2100 {
  position:absolute;
  left:756px;
  top:324px;
  width:240px;
  height:36px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2102 {
  position:absolute;
  left:0px;
  top:360px;
  width:73px;
  height:36px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2104 {
  position:absolute;
  left:73px;
  top:360px;
  width:180px;
  height:36px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u2106 {
  position:absolute;
  left:253px;
  top:360px;
  width:180px;
  height:36px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u2108 {
  position:absolute;
  left:433px;
  top:360px;
  width:183px;
  height:36px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2110 {
  position:absolute;
  left:616px;
  top:360px;
  width:140px;
  height:36px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u2112 {
  position:absolute;
  left:756px;
  top:360px;
  width:240px;
  height:36px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2114 {
  position:absolute;
  left:1053px;
  top:187px;
  width:37px;
  height:25px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2116 {
  position:absolute;
  left:762px;
  top:591px;
  width:309px;
  height:17px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:1250px;
  top:222px;
  width:70px;
  height:27px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  position:absolute;
  left:1250px;
  top:258px;
  width:70px;
  height:27px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2123 {
  position:absolute;
  left:1250px;
  top:294px;
  width:70px;
  height:27px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:1250px;
  top:331px;
  width:70px;
  height:27px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:1250px;
  top:367px;
  width:70px;
  height:27px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:1250px;
  top:403px;
  width:70px;
  height:27px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  position:absolute;
  left:1250px;
  top:437px;
  width:70px;
  height:27px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2133 {
  position:absolute;
  left:1250px;
  top:474px;
  width:70px;
  height:27px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2135 {
  position:absolute;
  left:1250px;
  top:510px;
  width:70px;
  height:27px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2137 {
  position:absolute;
  left:1250px;
  top:546px;
  width:70px;
  height:27px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:1110px;
  top:222px;
  width:70px;
  height:27px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:1110px;
  top:258px;
  width:70px;
  height:27px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:1110px;
  top:294px;
  width:70px;
  height:27px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  position:absolute;
  left:1110px;
  top:331px;
  width:70px;
  height:27px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2148 {
  position:absolute;
  left:1110px;
  top:367px;
  width:70px;
  height:27px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:1110px;
  top:403px;
  width:70px;
  height:27px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:1110px;
  top:439px;
  width:70px;
  height:27px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:1110px;
  top:476px;
  width:70px;
  height:27px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:1110px;
  top:512px;
  width:70px;
  height:27px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  position:absolute;
  left:1110px;
  top:546px;
  width:70px;
  height:27px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:1180px;
  top:222px;
  width:70px;
  height:27px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2163 {
  position:absolute;
  left:1180px;
  top:258px;
  width:70px;
  height:27px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:1180px;
  top:294px;
  width:70px;
  height:27px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:1180px;
  top:331px;
  width:70px;
  height:27px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:1180px;
  top:367px;
  width:70px;
  height:27px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:1180px;
  top:403px;
  width:70px;
  height:27px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:1180px;
  top:440px;
  width:70px;
  height:27px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:1180px;
  top:477px;
  width:70px;
  height:27px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:1180px;
  top:513px;
  width:70px;
  height:27px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  position:absolute;
  left:1180px;
  top:547px;
  width:70px;
  height:27px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u2181 {
  position:absolute;
  left:546px;
  top:183px;
  width:24px;
  height:34px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u2183 {
  position:absolute;
  left:726px;
  top:183px;
  width:24px;
  height:34px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:339px;
  top:587px;
  width:140px;
  height:40px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  position:absolute;
  left:489px;
  top:587px;
  width:140px;
  height:40px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:2px;
}
#u2189 {
  position:absolute;
  left:1148px;
  top:297px;
  width:725px;
  height:1px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:-8px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:45px;
}
#u2191 {
  position:absolute;
  left:1873px;
  top:295px;
  width:473px;
  height:45px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u2192 {
  position:absolute;
  left:0px;
  top:13px;
  width:473px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:2px;
}
#u2193 {
  position:absolute;
  left:1214px;
  top:368px;
  width:659px;
  height:1px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:-8px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:2px;
}
#u2195 {
  position:absolute;
  left:1284px;
  top:441px;
  width:589px;
  height:1px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:64px;
}
#u2197 {
  position:absolute;
  left:1873px;
  top:439px;
  width:548px;
  height:64px;
  font-size:16px;
  text-align:center;
}
#u2198 {
  position:absolute;
  left:0px;
  top:14px;
  width:548px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:2px;
}
#u2199 {
  position:absolute;
  left:737px;
  top:208px;
  width:1136px;
  height:1px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:43px;
}
#u2201 {
  position:absolute;
  left:1872px;
  top:206px;
  width:419px;
  height:43px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u2202 {
  position:absolute;
  left:0px;
  top:12px;
  width:419px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:2px;
}
#u2203 {
  position:absolute;
  left:557px;
  top:214px;
  width:1316px;
  height:1px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:2px;
}
#u2205 {
  position:absolute;
  left:1075px;
  top:186px;
  width:798px;
  height:1px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:43px;
}
#u2207 {
  position:absolute;
  left:1872px;
  top:144px;
  width:419px;
  height:43px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u2208 {
  position:absolute;
  left:0px;
  top:12px;
  width:419px;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1476px;
  height:2px;
}
#u2209 {
  position:absolute;
  left:398px;
  top:631px;
  width:1475px;
  height:1px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:64px;
}
#u2211 {
  position:absolute;
  left:1873px;
  top:627px;
  width:548px;
  height:64px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u2212 {
  position:absolute;
  left:0px;
  top:14px;
  width:548px;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:86px;
}
#u2213 {
  position:absolute;
  left:1872px;
  top:28px;
  width:548px;
  height:86px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u2214 {
  position:absolute;
  left:0px;
  top:15px;
  width:548px;
  word-wrap:break-word;
}
