body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:944px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:944px;
  color:#B9C7D7;
}
#u972 {
  position:absolute;
  left:2px;
  top:464px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:46px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#20A0FF;
  text-align:center;
}
#u973 {
  position:absolute;
  left:27px;
  top:574px;
  width:224px;
  height:46px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#20A0FF;
  text-align:center;
}
#u974 {
  position:absolute;
  left:0px;
  top:13px;
  width:224px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:46px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u975 {
  position:absolute;
  left:27px;
  top:693px;
  width:224px;
  height:46px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u976 {
  position:absolute;
  left:0px;
  top:13px;
  width:224px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:46px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u977 {
  position:absolute;
  left:27px;
  top:634px;
  width:224px;
  height:46px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u978 {
  position:absolute;
  left:0px;
  top:13px;
  width:224px;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:46px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u979 {
  position:absolute;
  left:27px;
  top:515px;
  width:224px;
  height:46px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u980 {
  position:absolute;
  left:0px;
  top:13px;
  width:224px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:46px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u981 {
  position:absolute;
  left:27px;
  top:455px;
  width:224px;
  height:46px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u982 {
  position:absolute;
  left:0px;
  top:13px;
  width:224px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:193px;
}
#u983 {
  position:absolute;
  left:-1px;
  top:751px;
  width:279px;
  height:193px;
}
#u984 {
  position:absolute;
  left:2px;
  top:88px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
  background:inherit;
  background-color:rgba(50, 65, 87, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u985 {
  position:absolute;
  left:82px;
  top:385px;
  width:116px;
  height:46px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#B9C7D7;
  text-align:center;
}
#u986 {
  position:absolute;
  left:0px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:46px;
}
#u987 {
  position:absolute;
  left:41px;
  top:385px;
  width:42px;
  height:46px;
}
#u988 {
  position:absolute;
  left:2px;
  top:15px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2px;
}
#u990 {
  position:absolute;
  left:339px;
  top:113px;
  width:1454px;
  height:1px;
}
#u991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u992 {
  position:absolute;
  left:922px;
  top:71px;
  width:281px;
  height:32px;
  font-size:28px;
  color:#666666;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u995 {
  position:absolute;
  left:811px;
  top:157px;
  width:160px;
  height:26px;
  font-size:18px;
  text-align:center;
}
#u996 {
  position:absolute;
  left:0px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:971px;
  top:157px;
  width:300px;
  height:26px;
}
#u997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u999 {
  position:absolute;
  left:811px;
  top:218px;
  width:160px;
  height:26px;
  font-size:18px;
  text-align:center;
}
#u1000 {
  position:absolute;
  left:0px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:971px;
  top:218px;
  width:110px;
  height:26px;
}
#u1001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1002 {
  position:absolute;
  left:1119px;
  top:218px;
  width:110px;
  height:26px;
}
#u1002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:2px;
}
#u1003 {
  position:absolute;
  left:1088px;
  top:231px;
  width:25px;
  height:1px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1005 {
  position:absolute;
  left:1229px;
  top:218px;
  width:42px;
  height:26px;
  font-size:18px;
  text-align:center;
}
#u1006 {
  position:absolute;
  left:0px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1008 {
  position:absolute;
  left:811px;
  top:276px;
  width:160px;
  height:26px;
  font-size:18px;
  text-align:center;
}
#u1009 {
  position:absolute;
  left:0px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:971px;
  top:276px;
  width:300px;
  height:26px;
}
#u1010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1012 {
  position:absolute;
  left:811px;
  top:332px;
  width:160px;
  height:26px;
  font-size:18px;
  text-align:center;
}
#u1013 {
  position:absolute;
  left:0px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u1014 {
  position:absolute;
  left:971px;
  top:332px;
  width:300px;
  height:64px;
}
#u1014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u1015 {
  position:absolute;
  left:1111px;
  top:396px;
  width:160px;
  height:27px;
  color:#999999;
  text-align:right;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1018 {
  position:absolute;
  left:811px;
  top:440px;
  width:160px;
  height:26px;
  font-size:18px;
  text-align:center;
}
#u1019 {
  position:absolute;
  left:0px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:971px;
  top:433px;
  width:140px;
  height:40px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023 {
  position:absolute;
  left:811px;
  top:482px;
  width:625px;
  height:133px;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1026 {
  position:absolute;
  left:60px;
  top:0px;
  width:160px;
  height:32px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u1028 {
  position:absolute;
  left:220px;
  top:0px;
  width:180px;
  height:32px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u1030 {
  position:absolute;
  left:400px;
  top:0px;
  width:220px;
  height:32px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:32px;
  width:60px;
  height:32px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1034 {
  position:absolute;
  left:60px;
  top:32px;
  width:160px;
  height:32px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u1036 {
  position:absolute;
  left:220px;
  top:32px;
  width:180px;
  height:32px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u1038 {
  position:absolute;
  left:400px;
  top:32px;
  width:220px;
  height:32px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:64px;
  width:60px;
  height:32px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1042 {
  position:absolute;
  left:60px;
  top:64px;
  width:160px;
  height:32px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u1044 {
  position:absolute;
  left:220px;
  top:64px;
  width:180px;
  height:32px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u1046 {
  position:absolute;
  left:400px;
  top:64px;
  width:220px;
  height:32px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:96px;
  width:60px;
  height:32px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1050 {
  position:absolute;
  left:60px;
  top:96px;
  width:160px;
  height:32px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u1052 {
  position:absolute;
  left:220px;
  top:96px;
  width:180px;
  height:32px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u1054 {
  position:absolute;
  left:400px;
  top:96px;
  width:220px;
  height:32px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1057 {
  position:absolute;
  left:1215px;
  top:550px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1058 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1059 {
  position:absolute;
  left:1215px;
  top:582px;
  width:70px;
  height:27px;
  color:#999999;
}
#u1060 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1061 {
  position:absolute;
  left:1215px;
  top:518px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1062 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1064 {
  position:absolute;
  left:1285px;
  top:517px;
  width:70px;
  height:27px;
  color:#999999;
}
#u1065 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1066 {
  position:absolute;
  left:1285px;
  top:549px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1067 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1068 {
  position:absolute;
  left:1285px;
  top:581px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1069 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1071 {
  position:absolute;
  left:1355px;
  top:517px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1072 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1073 {
  position:absolute;
  left:1355px;
  top:549px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1074 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#20A0FF;
}
#u1075 {
  position:absolute;
  left:1355px;
  top:581px;
  width:70px;
  height:27px;
  color:#20A0FF;
}
#u1076 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1077 {
  position:absolute;
  left:941px;
  top:637px;
  width:140px;
  height:40px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079 {
  position:absolute;
  left:1111px;
  top:637px;
  width:140px;
  height:40px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:538px;
}
#u1082 {
  position:absolute;
  left:1942px;
  top:603px;
  width:270px;
  height:538px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:261px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:2px;
}
#u1084 {
  position:absolute;
  left:1465px;
  top:570px;
  width:437px;
  height:1px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:614px;
}
#u1086 {
  position:absolute;
  left:1902px;
  top:547px;
  width:349px;
  height:614px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u1087 {
  position:absolute;
  left:0px;
  top:18px;
  width:349px;
  word-wrap:break-word;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:2px;
}
#u1089 {
  position:absolute;
  left:1111px;
  top:455px;
  width:790px;
  height:1px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:-8px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:59px;
}
#u1091 {
  position:absolute;
  left:1902px;
  top:424px;
  width:439px;
  height:59px;
  font-size:16px;
  color:#003366;
  text-align:center;
}
#u1092 {
  position:absolute;
  left:0px;
  top:20px;
  width:439px;
  word-wrap:break-word;
}
